{% extends "base.html" %}

{% block title %}
	Create a New Trip
{% endblock %}

{% block content %}

<form action="submitform">
  Road Trip Name:<br />
  <input type="text" name="name"><br /><br />
  Participants:<br />
  <input type="text" name="participant-1"><br />
  <input type="text" name="participant-2"><br />
  <input type="text" name="participant-3"><br />
  <a href ="">+ Add Participant</a><br /><br />
  Destination:<br>
  <input type="text" name="destination-1"><br />
  <a href ="">+ Add Destination</a><br /><br />

  <input type="submit" value="Create Road Trip!">
</form>

{% endblock %}
