{% extends "base.html" %}

{% block title %}
	Survey
{% endblock %}

{% block header %}
	{{ super() }}
	<form action="logout" id="logout">
		<span id="username">Logged in as {{ name }}</span>
		<input class="action-button" id="logout-button" type="submit" value="Logout">
	</form>
{% endblock %}

{% block content %}
	<div id="section-container">
		<h1><span>Available Trips</span></h1>
		<div class="main-container">
			<div class="trip">
				<h3 class="trip-title">Test</h3>
				<p class="trip-description">San Francisco, Los Angeles, San Antonio, Houston</p>
				<hr/>
				<span class="trip-owner">Owner</span>
				<p class="trip-owner">Sindhuja Jeyabal</p>
				<span class="trip-participants">Participants</span>
				<p class="trip-participants">
					Steph S., Ganesh I.
				</p>
			</div>

			<div class="trip">
				<h3 class="trip-title">Test</h3>
				<p class="trip-description">San Francisco, Los Angeles, San Antonio, Houston</p>
				<hr/>
				<span class="trip-owner">Owner</span>
				<p class="trip-owner">Sindhuja Jeyabal</p>
				<span class="trip-participants">Participants</span>
				<p class="trip-participants">
					Steph S., Ganesh I.
				</p>
			</div>

			<div class="trip">
				<h3 class="trip-title">Test</h3>
				<p class="trip-description">San Francisco, Los Angeles, San Antonio, Houston</p>
				<hr/>
				<span class="trip-owner">Owner</span>
				<p class="trip-owner">Sindhuja Jeyabal</p>
				<span class="trip-participants">Participants</span>
				<p class="trip-participants">
					Steph S., Ganesh I.
				</p>
			</div>

			<div class="trip">
				<h3 class="trip-title">Test</h3>
				<p class="trip-description">San Francisco, Los Angeles, San Antonio, Houston</p>
				<hr/>
				<span class="trip-owner">Owner</span>
				<p class="trip-owner">Sindhuja Jeyabal</p>
				<span class="trip-participants">Participants</span>
				<p class="trip-participants">
					Steph S., Ganesh I.
				</p>
			</div>

			<div class="trip add-trip">
				<a href="create_trip"><img src="static/add.png">Create a New Trip</a>
			</div>

		</div>

	</div>
{% endblock %}
